
html {
  font-size: 16px;

}

h1 {
font-family: 'Barlow Semi Condensed', sans-serif;
font-size: 3rem;

}
 p {
   font-family: 'Palanquin', sans-serif;
   font-size: 1rem;
 }

 h2 {
font-family: 'Palanquin', sans-serif;
font-size: 2rem;

 }

 h4 {
   font-size: 1.3rem;
 }

header {
  margin-bottom: 7rem;
}

 .language {
  color: gray;
  list-style: none;
}

.language a {
  color: gray;
}

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.banner {
  height: 500px;
  width: auto;
background-image: url('../resources/multimedia/FooterImage.svg');
border: none;
background-repeat:


}
 .banner img {
   border: none;
 }

 .banner .col-sm-6 {
   border: none;
 }

 .banner h1 {
   margin-top: 85px;
   margin-left: 15px;
 }

.cover img {

  max-width: 400px;
  max-height: 400px;
  margin-left: 40%;
}

.subheading {
  margin-left: 1rem;
  padding-left: 1rem;
}

.btn {
  background-color: white;
  color:  #FA6805;
  border-color: #FA6805;
}

.btn:hover {
  background-color: #FA6805;
  color: white;
  border-color: #FA6805;
}

.banner .btn {
  margin-top: 2rem;

}

.Ti {

}



.card-img-overlay {
  top: 40%;
  left: 15%;
}

.angle a {
  color: gray;
}
main {
  margin-top: 4rem;
}

footer {

  background-image: url("./multimedia/FooterImage.svg");
  height: 20rem;
  width: auto;
}


}


.test {

}



.method {
  margin-left: 2rem;
  margin-top: 3rem;
}

.caracteristicas {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.como {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

footer {
  background-image: image('../resources/multimedia/Footer image.svg');
}

.banner {
  background-image: image('../resources/multimedia/Footer image.svg');
}

@media (min-width: 576px) {


}
 Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner {
    margin-top: 5rem;
  }

  header {
    margin-bottom: 10rem;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner {
  margin-top: 5rem;
}

header {
  margin-bottom: 10rem;
}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner {
    margin-top: 5rem;
  }
  header {
    margin-bottom: 10rem;
  }
}
